import Rodx{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Rodx{{properCase name}}',
  component: Rodx{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Rodx{{properCase name}} },
  template: `
    <div>
      <rodx-{{name}}></rodx-{{name}}>
    </div>
  `
})